
img {
                position: absolute;
                letter-spacing: px;
                padding-left: 20px;
                margin-top: 10px;
                margin-left: 5%;
            }

            p {
                position: absolute;
                letter-spacing: px;
                padding-left: 500px;
                margin-top: 30px;
                margin-left: 1%;
            }



.menu {

}
